[submodule "third_party/nanovg"]
	path = third_party/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "third_party/nuklear"]
	path = third_party/nuklear
	url = https://github.com/vurtun/nuklear.git
