[submodule "third_party/nanovg"]
	path = third_party/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "third_party/nuklear"]
	path = third_party/nuklear
	url = https://github.com/vurtun/nuklear.git
[submodule "third_party/discord-rpc"]
	path = third_party/discord-rpc
	url = https://github.com/discordapp/discord-rpc.git
[submodule "third_party/cpr"]
	path = third_party/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "third_party/jansson"]
	path = third_party/jansson
	url = https://github.com/akheron/jansson.git
